<div class="box">
  <form id="placemark-form" action="/dashboard/updateplacemark/{{pmId}}" method="POST"></form>
  <h1 class="title is-4">{{title}} Details</h1>
  
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input class="input" type="text" form="placemark-form" placeholder="Enter Title" name="title" value="{{title}}">
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Latitude</label>
        <div class="control">
          <input class="input" type="text" form="placemark-form" placeholder="Enter latitude" name="latitude" value="{{latitude}}">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Longitude</label>
        <div class="control">
          <input class="input" type="text" form="placemark-form" placeholder="Enter longitude" name="longitude" value="{{longitude}}">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="category" form="placemark-form">
              {{#if category}}
                <option value="{{category}}" selected>{{category}}</option>
              {{/if}}
              <option value="marina">Marina</option>
              <option value="anchorage">Anchorage</option>
              <option value="beach">Beach</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Images</label>
        {{> placemark-image placemark=placemark }}
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Visibility</label>
    <div class="control">
      <label class="radio">
        <input type="radio" name="private" form="placemark-form" value="false" {{#unless private}}checked{{/unless}}>
        Public
      </label>
      <label class="radio">
        <input type="radio" name="private" form="placemark-form" value="true" {{#if private}}checked{{/if}}>
        Private
      </label>
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <textarea class="textarea" placeholder="Enter description" form="placemark-form" name="description" rows="6">{{description}}</textarea>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-primary is-fullwidth" form="placemark-form">Add Details</button>
    </div>
  </div>
</div>