<form class="box" action="/dashboard/updateplacemark/{{pmId}}" method="POST">
  <label>{{title}} Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label>Title: </label><input class="input" type="text" placeholder="Enter Title" name="title" value="{{title}}">
      </div>
      <div class="field">
        <label>Latitude: </label>
        <input class="input" type="text" placeholder="Enter latitude" name="latitude" value="{{latitude}}">
      </div>
      <div class="field">
        <label>Longitude: </label>
        <input class="input" type="text" placeholder="Enter longitude" name="longitude" value="{{longitude}}">
      </div>
      <div class="field">
        <label>Description: </label>
        <input class="input" type="text" placeholder="Enter description" name="description" value="{{description}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Details</button>
</form>